name: CI
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  flake-check:
    name: Flake check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix flake check
  tests:
    name: Test suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            extra-substituters = https://ros.cachix.org
            extra-trusted-public-keys = ros.cachix.org-1:dSyZxI8geDCJrwgvCOHDoAfOm5sV1wCPjBkKL+38Rvo=
      - run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
      - run: "nix develop -c echo preparing environment"
      - run: "set -o pipefail; nix develop -c bats test/{test,long_tests}.bats --timing --trace --verbose-run --show-output-of-passing-tests"
      - uses: pcolby/tap-summary@v1
        if: always()
